$main-color: rgba(255, 78, 80, 1);
$main-font: 'Montserrat';
$black-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
$grey-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%);;